<div class="sidebar" style="position: relative;left:-15px; top:70px;">
  <a href="/admin/">Dashboard</a>
  <a  href="/admin/blog">Show Blogs</a>
  <a  class="active" href="/admin/delete">Delete Blogs</a>
</div>
 <div class="container" style="position: relative;top:-80px;left:90px;">
        <div class="row">
           {{#each data}}
           <div class="col-md-4">
            <div class="card" style="margin-left :10px; margin-bottom:50px;border-radius: 15px;transition: 0.3s;">
            <img class="card-img-top" src="/{{this.headImg}}" alt="Card image cap" style="border-radius: 15px 15px 0 0;">
            <div class="card-body">
            <h5 class="card-title text-truncate" style="max-width: 270px;">
                <font face = "Bedrock" size = "5">{{this.heading}}</font></h5>
            <i class="far fa-calendar-alt"></i><span style="padding-left:5px;font-size:14px">{{this.date}}</span><hr>
            <h6>Author: {{{this.username}}}</h6>
            <h6>Category: {{{this.category}}}</h6>
            <center><a href="/admin/{{this._id}}/delete" class="btn btn-danger mt-2 btn-block">Delete</a></center>
         </div>
       </div>
       </a>
       </div>
  
           {{/each}}
           </div>
      </div>