<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/fa0348eda9.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 2000px;
      height: 520px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
  <link rel="stylesheet" href="/userdashboard.css">
</head>
<body>

   <nav class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3C2970">
  <a class="navbar-brand" href="/user/posts">BlogApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {{#if loggedIn}}
        <li class="nav-item">
        <a class="nav-link" href="/user/signout">SignOut</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/user/{{userId}}/dashboard">Dashboard</a>
        </li>
        {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/user/signup.html">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/signup.html">SignIn</a>
      </li>
      {{/if}}
    </ul>

    <form class="form-inline my-2 my-lg-0" action="/user/posts" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
      <button class="btn my-2 my-sm-0" type="submit" style="background-color: #E5D4ED">Search</button>
    </form>
  </div>
</nav>
</nav>
  <div class="container" style="position: relative;top:65px;left:45px;">
    {{#if success}}
       <div class="alert alert-success" role="alert">
        {{success}}
       </div>
    {{/if}}
    {{#if error}}
       <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
    {{/if}}
    </div> 
 
 
 
 
 
 {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:relative;top:50px;width: 2050px">
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item">
       <a class="nav-link" href="/user/category/Arts & Entertainment">Arts & Entertainment</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/user/category/Industry">Industry</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/user/category/Innovation & Tech">Innovation & Technology</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/user/category/Life">Life</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/user/category/Society">Society</a>
     </li>
   </ul>
   {{#if loggedIn}}
   <a class="btn btn-primary" href="/user/showEditor" role="button" >New Blog</a>
   {{/if}}
 </div>
</nav>



<div class="container">
<div class="row" style="position: relative ; top : 100px;">
           {{#each data}}            
           <div class="col-md-4">
             <a href="/user/posts/{{this._id}}">
            <div class="card" style="margin-left :10px; margin-bottom:50px;border-radius: 15px;transition: 0.3s;">
            <img class="card-img-top" src="../{{this.headImg}}" alt="Card image cap" style="border-radius: 15px 15px 0 0;">
            <div class="card-body">
            <h5 class="card-title card-title text-truncate" style="max-width: 270px;">
                <font face = "Bedrock" size = "5">{{this.heading}}</font></h5>
            <i class="far fa-calendar-alt"></i><span style="padding-left:5px;font-size:14px">{{this.date}}</span><hr>
            <h6>Author: {{{this.username}}}</h6>
            <h6>Category: {{{this.category}}}</h6>
            <h6><i class="fas fa-eye"></i><span style="padding-left:5px;14px">{{this.views}}</span></h6>
            
         </div>
       </div>
       </a>
       </div>
           {{/each}}
           {{#if item}}
               <img src="https://www.goexplore.city/images/nodatafound.png" class="center">
           {{/if}}
           </div>

           </div>
    </body>
</html>
