<div class="container" style="padding-top: 70px">
  {{#each data}}
    <h1 style="font-family:'Roboto', sans-serif; margin-bottom: -3px">{{this.heading}}</h1>
    <span style="text-align: right">By {{this.username}}<br>{{this.date}}</span>
    <img src="{{this.headImg}}" style="width : 100%; height:500px; padding-top:10px">

    <div style="font-family: 'Dosis', sans-serif ; font-size:25px; position: relative;">
            {{{this.body}}}
        </div>
         
        <div style="display:inline-block">
          {{#each this.images}}
          <img src="{{.}}" style="position: relative; width 33%: ; height:200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{/each}}
        </div><br>
        <div style="text-align:right;">
    <a href="/user/posts/{{this._id}}/edit" class="btn btn-success" style="position: relative; top: 62px; left:-80px;">Edit</a>
       <form method="post" action="/user/posts/{{this._id}}?_method=delete"><br>
         <button class="btn btn-danger" style="position: relative;">Delete</button>
        </form>
        </div>
    {{/each}}
</div>

<div class="container" style="position: relative ; top:20px;">
   <p style="font-size: 30px;">Comments</p>
    <form action="/user/posts/{{blogid}}" method="POST">
    <input type="hidden" value="{{blogid}}" class="userId" name="blogid">
    <input type="hidden" value="{{date}}" class="userId" name="date">
    <textarea rows="2" cols="20" class="form-control commenttext" placeholder="Enter Your Comment Here" name="text"></textarea>
    <button class="btn btn-outline-success submit" style="position: relative;top:5px;" type="submit">Submit</button>
    </form>
<br>
 {{#each comment}}
  <div class="card">
  <div class="card-body">
    <div>
    <img src="https://image.flaticon.com/icons/svg/149/149071.svg" alt="This is Image" style="height:50px;">
    <h5 class="card-title">{{this.username}}</h5>
    </div>
    <p class="card-text">{{text}} <span id="date" style="float:right; font-weight:lighter">{{this.date}}</span></p>
  </div>
</div>
  <br>
  {{/each}}
</div>