<div class="container" style="padding-top: 70px">
    {{#each data}}
    <h1 style="font-family:'Roboto', sans-serif; margin-bottom: -3px">{{this.heading}}</h1>
    <span style="text-align: right">By {{this.username}}<br>{{this.date}}</span>
    <img src="../{{this.headImg}}" style="width : 100%; height:500px; padding-top:10px">

    <div style="font-family: 'Dosis', sans-serif ; font-size:25px; position: relative;">
            {{{this.body}}}
        </div>
         
        <div style="display:inline-block">
          {{#each this.images}}
          <img src="../{{.}}" style="position: relative; width 33%: ; height:200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{/each}}
        </div><br>
</div>
    {{/each}}
</div>
<div class="container" style="position: relative ; top:80px;">
<p style="font-size: 30px;">Comments</p>
    <form action="/user/posts/{{blogid}}" method="POST">
       {{#each user}}
    <input type="hidden" value="{{this.username}}" class="userd" name="username">
    <input type="hidden" value="{{this._id}}" class="userd" name="userid">
    {{/each}}
    <input type="hidden" value="{{blogid}}" class="userId" name="blogid">
    <input type="hidden" value="{{date}}" class="userId" name="date">
    <textarea rows="2" cols="20" class="form-control commenttext" placeholder="Enter Your Comment Here" name="text"></textarea>
    <div style="text-align: right">
      <button class="btn btn-dark" type="submit">Submit</button>
    </div>
    
    </form>
<br>
 {{#each comment}}
  <div class="card">
  <div class="card-body">
    <img src="https://image.flaticon.com/icons/svg/149/149071.svg" alt="avatar" style="height:50px;"/>
    <h5 class="card-title">{{this.username}}</h5>
    <p class="card-text">{{text}} <span id="date" style="position: relative; float:right;font-weight:lighter">{{this.date}}</span></p>
  </div>
</div>
  <br>
  {{/each}}
</div>