<div class="container">
    {{#each data}}
      <div class="content">
      <h1 style="position: relative; top: 80px; font-family:'Roboto', sans-serif;">{{{this.heading}}}</h1>
      <p style="position: relative; top: 80px; font-size:25px;">{{this.username}}</p>
      <p style="position: relative; top: 60px; font-weight:lighter">{{this.date}}</p>
        <img src="../{{this.headImg}}" style="position: relative; top: 80px; width : 100%; height:500px;">
        <div class="body" style="font-family: 'Dosis', sans-serif ; font-size:25px; position: relative; top: 80px;">
            {{{this.body}}}
        </div>
         <div style="display:inline-block">
          {{#each this.images}}
          <img src="../{{.}}" style="position: relative; top: 80px;width 33%: ; height:200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{/each}}
        </div><br>
</div>
    {{/each}}
</div>
<div class="container" style="position: relative ; top:80px;">
<p style="font-size: 30px;">Comments</p>
    <form action="/user/posts/{{blogid}}" method="POST">
       {{#each user}}
    <input type="hidden" value="{{this.username}}" class="userd" name="username">
    <input type="hidden" value="{{this._id}}" class="userd" name="userid">
    {{/each}}
    <input type="hidden" value="{{blogid}}" class="userId" name="blogid">
    <input type="hidden" value="{{date}}" class="userId" name="date">
    <textarea rows="2" cols="20" class="form-control commenttext" placeholder="Enter Your Comment Here" name="text"></textarea>
    <div style="text-align: right">
      <button class="btn btn-dark" type="submit">Submit</button>
    </div>
    
    </form>
<br>
 {{#each comment}}
  <div class="card">
  <div class="card-body">
    <img src="https://cdn3.iconfinder.com/data/icons/users-retro/60/50_-Blank_Profile-_user_people_group_team-512.png" alt="This is Image" style="height:50px;"/>
    <h5 class="card-title">{{this.username}}</h5>
    <p class="card-text">{{text}} <span id="date" style="position: relative; float:right;font-weight:lighter">{{this.date}}</span></p>
  </div>
</div>
  <br>
  {{/each}}
</div>