<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{style}}">
    <script src="https://kit.fontawesome.com/fa0348eda9.js"></script>
</head>

{{!-- Header file --}}

     <body style="background-color: #CCCCFF">
<nav class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3C2970">
  <a class="navbar-brand" href="/user/posts">BlogApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {{#if loggedIn}}
        <li class="nav-item">
        <a class="nav-link" href="/user/signout">SignOut</a>
        </li>
        {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/user/signup.html">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/signup.html">SignIn</a>
      </li>
      {{/if}}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/user/posts" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
      <button class="btn my-2 my-sm-0" type="submit" style="background-color: #E5D4ED">Search</button>
    </form>
  </div>
</nav>
</nav>
  <div class="container" style="position: relative;top:65px;left:45px;">
    {{#if success}}
       <div class="alert alert-success" role="alert">
        {{success}}
       </div>
    {{/if}}
    {{#if error}}
       <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
    {{/if}}
    </div>

     {{!-- ///--------------- bootstrap side navbar--------------- --}}
        
       
      <div class="sidebar" style="background-color: #e6ecf0">
        <a href="#home">Home</a>
        <a href="/user/{{userId}}/dashboard" >Dashboard</a>
        <a  href="/user/{{userId}}/dashboard/statusApprove">Approved</a>
        <a href="/user/{{userId}}/dashboard/reject">Reject</a>
        <a href="/user/{{userId}}/dashboard/underReview">Pending</a>
        <a href="/user/{{userId}}/dashboard/requestForChanges">Changes</a>
        <a href="/user/{{userId}}/dashboard/showallblog" >Show Blog</a>
        <a href="/user/{{userId}}/dashboard/Editallblog" class="active">Edit Blog</a>
        <a href="/user/{{userId}}/dashboard/Deleteallblog" >Delete Blog</a>
      </div>

     {{!-- Cards  --}}
         <div class="container" style="position: relative;top:90px;left:90px;">
        <div class="row">
           {{#each data}}
           <div class="col-md-4">
            <div class="card" style="margin-left :10px; margin-bottom:50px;border-radius: 15px;transition: 0.3s;">
            <img class="card-img-top" src="/{{this.headImg}}" alt="Card image cap" style="border-radius: 15px 15px 0 0;">
            <div class="card-body">
            <h5 class="card-title text-truncate" style="max-width: 270px;">
                <font face = "Bedrock" size = "5">{{this.heading}}</font></h5>
            <i class="far fa-calendar-alt"></i><span style="padding-left:5px;font-size:14px">{{this.date}}</span><hr>
            <h6>Author: {{{this.username}}}</h6>
            <h6>Category: {{{this.category}}}</h6>
            <center><a href="/user/posts/{{this._id}}/edit" class="btn btn-info btn-block ">Edit</a></center>
         </div>
       </div>
       </div>
  
           {{/each}}
           </div>
      </div>
   

      </body>
</html>